Repository kevinaud/adk-sim-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, eslint, prettier, angular-build

pyright:
  name: pyright (type check)
  entry: uv run pyright
  language: system
  pass_filenames: false

eslint:
  name: eslint (frontend)
  entry: npm run lint --workspace=frontend --
  language: system
  pass_filenames: false

prettier:
  name: prettier (typescript)
  entry: npx prettier --check
  language: system

angular-build:
  name: angular build (template verification)
  entry: bash -c 'cd frontend && CI=true npm run build -- --configuration production --no-progress'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

Revert "Skip visual regression tests in pre-commit hooks"
  .pre-commit-config.yaml
Due: none

Fix non-deterministic visual regression tests
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-view-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-list-with-sessions-chromium-linux.png
  frontend/tests/e2e/session-list.spec.ts
  frontend/tests/e2e/session-navigation.spec.ts
Due: eslint, prettier, angular-build

Extract ErrorBannerComponent and remove unused db-reset utilities
  frontend/src/app/features/session-list/session-list.component.html
  frontend/src/app/features/session-list/session-list.component.scss
  frontend/src/app/features/session-list/session-list.component.spec.ts
  frontend/src/app/features/session-list/session-list.component.ts
  frontend/src/app/ui/shared/error-banner/error-banner.component.spec.ts
  frontend/src/app/ui/shared/error-banner/error-banner.component.ts
  frontend/src/app/ui/shared/error-banner/index.ts
  frontend/src/app/ui/shared/index.ts
  frontend/tests/e2e/session-navigation.spec.ts
  frontend/tests/e2e/utils/db-reset.ts
  frontend/tests/e2e/utils/fixtures.ts
  frontend/tests/e2e/utils/index.ts
Due: eslint, prettier, angular-build

S3PR1: Extend SessionGateway with getSession and subscribe methods (#142)
  frontend/src/app/data-access/session/grpc-session.gateway.spec.ts
  frontend/src/app/data-access/session/grpc-session.gateway.ts
  frontend/src/app/data-access/session/index.ts
  frontend/src/app/data-access/session/mock-session.gateway.ts
  frontend/src/app/data-access/session/session.gateway.ts
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

S3PR2: Add session route with guard (FR-001, FR-004) (#146)
  .claude/skills/sprint-orchestration/SKILL.md
  .claude/skills/sprint-orchestration/references/git-town.md
  .claude/skills/sprint-orchestration/references/merge-process.md
  frontend/src/app/app.routes.ts
  frontend/src/app/data-access/session/session.facade.ts
  frontend/src/app/features/session/index.ts
  frontend/src/app/features/session/session.component.spec.ts
  frontend/src/app/features/session/session.component.ts
  frontend/src/app/features/session/session.guard.spec.ts
  frontend/src/app/features/session/session.guard.ts
Due: eslint, prettier, angular-build

S3PR3: Create ReconnectStrategy utility (#147)
  frontend/src/app/util/index.ts
  frontend/src/app/util/reconnect/index.ts
  frontend/src/app/util/reconnect/reconnect-strategy.spec.ts
  frontend/src/app/util/reconnect/reconnect-strategy.ts
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

S3PR4: Extend SessionFacade with subscribe methods (#148)
  frontend/src/app/data-access/session/session.facade.spec.ts
  frontend/src/app/data-access/session/session.facade.ts
  mddocs/frontend/frontend-tdd.md
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

S3PR5: Create EventStreamComponent container (#149)
  frontend/src/app/ui/event-stream/event-stream.component.spec.ts
  frontend/src/app/ui/event-stream/event-stream.component.ts
  frontend/src/app/ui/event-stream/index.ts
  frontend/src/app/ui/index.ts
  mddocs/frontend/frontend-tdd.md
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

S3PR6: Create EventBlockComponent (#150)
  frontend/src/app/ui/event-stream/event-block/event-block.component.spec.ts
  frontend/src/app/ui/event-stream/event-block/event-block.component.ts
  frontend/src/app/ui/event-stream/event-block/index.ts
  frontend/src/app/ui/event-stream/event-stream.component.spec.ts
  frontend/src/app/ui/event-stream/event-stream.component.ts
  frontend/src/app/ui/event-stream/index.ts
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

chore: update package-lock.json for typescript-eslint 8.53.0
  package-lock.json
Due: prettier

chore(deps-dev): bump @analogjs/vite-plugin-angular from 1.17.1 to 2.2.2 in /frontend
  frontend/package.json
  package-lock.json
Due: prettier

chore(deps-dev): bump vite from 6.0.0 to 7.3.1 in /frontend
  frontend/package.json
  package-lock.json
Due: prettier

create sprint 4 plan
  .claude/skills/sprint-orchestration/SKILL.md
  mddocs/frontend/research/deep-research/material-tailwind-research.md
  mddocs/frontend/sprints/sprint4.md
Due: none

create sprint 4 plan (#159)
  .claude/skills/sprint-orchestration/SKILL.md
  mddocs/frontend/research/deep-research/material-tailwind-research.md
  mddocs/frontend/sprints/sprint4.md
Due: none

S4PR1: Install and configure Tailwind CSS
  frontend/.postcssrc.json
  frontend/package.json
  frontend/src/styles.scss
  mddocs/development/implementation-tips.md
  package-lock.json
Due: prettier, angular-build

S4PR2: Create Theme Bridge with Dark Mode Support
  frontend/src/styles.scss
  frontend/src/theme.scss
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-populated-chromium-linux.png
Due: prettier, angular-build

S4PR3: Create ThemeService for Dark Mode State
  frontend/src/app/util/index.ts
  frontend/src/app/util/theme/index.ts
  frontend/src/app/util/theme/theme.service.spec.ts
  frontend/src/app/util/theme/theme.service.ts
Due: eslint, prettier, angular-build

S4PR4: Create DarkModeToggleComponent
  frontend/sheriff.config.ts
  frontend/src/app/app.html
  frontend/src/app/app.scss
  frontend/src/app/app.spec.ts
  frontend/src/app/app.ts
  frontend/src/app/ui/shared/dark-mode-toggle/dark-mode-toggle.component.spec.ts
  frontend/src/app/ui/shared/dark-mode-toggle/dark-mode-toggle.component.ts
  frontend/src/app/ui/shared/dark-mode-toggle/index.ts
  frontend/src/app/ui/shared/index.ts
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-populated-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-invalid-redirect-chromium-linux.png
Due: eslint, prettier, angular-build

ci: Add Playwright artifact upload on failure
  .github/workflows/ci.yaml
Due: none

fix: Normalize Playwright browser rendering for CI consistency
  .pre-commit-config.yaml
  frontend/playwright-ct.config.ts
  frontend/playwright.config.ts
  frontend/tests/component/__snapshots__/connection-status.spec.ts-snapshots/connection-status-connected-chromium-linux.png
  frontend/tests/component/__snapshots__/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-linux.png
  frontend/tests/component/__snapshots__/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-long-text-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-model-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-invalid-redirect-chromium-linux.png
  mddocs/frontend/research/deep-research/visual-regression-ci-investigation-report.md
  mddocs/frontend/research/deep-research/visual-regression-ci-investigation.md
Due: eslint, prettier, angular-build

S4PR5: Add Dark Mode Support to Component Testing
  frontend/playwright-ct.config.ts
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-connected-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-function-call-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-function-response-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-long-text-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-model-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-user-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-conversation-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-empty-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-model-response-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-user-message-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-function-call-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-function-response-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-user-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-conversation-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-empty-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-model-response-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-user-message-chromium-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-connected-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-function-call-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-function-response-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-long-text-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-model-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-user-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-stream.spec.ts-snapshots/event-stream-conversation-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-stream.spec.ts-snapshots/event-stream-empty-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-stream.spec.ts-snapshots/event-stream-model-response-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-stream.spec.ts-snapshots/event-stream-user-message-chromium-light-linux.png
  frontend/tests/component/connection-status.spec.ts
  frontend/tests/component/event-block.spec.ts
  frontend/tests/component/event-stream.spec.ts
  frontend/tests/component/fixtures/theme.fixture.ts
  mddocs/frontend/sprints/sprint4.md
Due: eslint, prettier, angular-build

S4PR6: Create LoadingStateComponent
  frontend/src/app/ui/shared/index.ts
  frontend/src/app/ui/shared/loading-state/index.ts
  frontend/src/app/ui/shared/loading-state/loading-state.component.spec.ts
  frontend/src/app/ui/shared/loading-state/loading-state.component.ts
  frontend/tests/component/__snapshots__/dark/loading-state.spec.ts-snapshots/loading-state-custom-message-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/loading-state.spec.ts-snapshots/loading-state-default-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/loading-state.spec.ts-snapshots/loading-state-small-spinner-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/light/loading-state.spec.ts-snapshots/loading-state-custom-message-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/loading-state.spec.ts-snapshots/loading-state-default-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/loading-state.spec.ts-snapshots/loading-state-small-spinner-chromium-light-linux.png
  frontend/tests/component/loading-state.spec.ts
  mddocs/frontend/sprints/sprint4.md
Due: eslint, prettier, angular-build

refactor: Use Vitest's real localStorage instead of fake
  frontend/src/app/util/theme/theme.service.spec.ts
Due: eslint, prettier, angular-build

S4PR7: Create EmptyStateComponent
  frontend/src/app/ui/shared/empty-state/empty-state.component.spec.ts
  frontend/src/app/ui/shared/empty-state/empty-state.component.ts
  frontend/src/app/ui/shared/empty-state/index.ts
  frontend/src/app/ui/shared/index.ts
  frontend/tests/component/__snapshots__/dark/empty-state.spec.ts-snapshots/empty-state-custom-icon-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/empty-state.spec.ts-snapshots/empty-state-default-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/empty-state.spec.ts-snapshots/empty-state-full-config-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/empty-state.spec.ts-snapshots/empty-state-with-hint-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/light/empty-state.spec.ts-snapshots/empty-state-custom-icon-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/empty-state.spec.ts-snapshots/empty-state-default-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/empty-state.spec.ts-snapshots/empty-state-full-config-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/empty-state.spec.ts-snapshots/empty-state-with-hint-chromium-light-linux.png
  frontend/tests/component/empty-state.spec.ts
  mddocs/frontend/sprints/sprint4.md
Due: eslint, prettier, angular-build

S4PR8: Create ErrorStateComponent
  frontend/src/app/ui/shared/error-state/error-state.component.spec.ts
  frontend/src/app/ui/shared/error-state/error-state.component.ts
  frontend/src/app/ui/shared/error-state/index.ts
  frontend/src/app/ui/shared/index.ts
  frontend/tests/component/__snapshots__/dark/error-state.spec.ts-snapshots/error-state-custom-icon-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/error-state.spec.ts-snapshots/error-state-custom-retry-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/error-state.spec.ts-snapshots/error-state-default-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/error-state.spec.ts-snapshots/error-state-full-config-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/light/error-state.spec.ts-snapshots/error-state-custom-icon-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/error-state.spec.ts-snapshots/error-state-custom-retry-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/error-state.spec.ts-snapshots/error-state-default-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/error-state.spec.ts-snapshots/error-state-full-config-chromium-light-linux.png
  frontend/tests/component/error-state.spec.ts
  mddocs/frontend/sprints/sprint4.md
Due: eslint, prettier, angular-build

fix: Enable proper dark mode rendering in component tests
  frontend/playwright-ct.config.ts
  frontend/playwright/index.html
  frontend/playwright/index.ts
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-connected-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/empty-state.spec.ts-snapshots/empty-state-custom-icon-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/empty-state.spec.ts-snapshots/empty-state-default-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/empty-state.spec.ts-snapshots/empty-state-full-config-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/empty-state.spec.ts-snapshots/empty-state-with-hint-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/error-state.spec.ts-snapshots/error-state-custom-icon-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/error-state.spec.ts-snapshots/error-state-custom-retry-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/error-state.spec.ts-snapshots/error-state-default-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/error-state.spec.ts-snapshots/error-state-full-config-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-function-call-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-function-response-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-long-text-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-model-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-user-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-conversation-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-empty-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-model-response-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-user-message-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/loading-state.spec.ts-snapshots/loading-state-custom-message-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/loading-state.spec.ts-snapshots/loading-state-default-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/loading-state.spec.ts-snapshots/loading-state-small-spinner-chromium-dark-linux.png
  frontend/tests/component/fixtures/theme.fixture.ts
Due: eslint, prettier, angular-build

S4PR9: Create SessionCardComponent
  frontend/src/app/ui/index.ts
  frontend/src/app/ui/session/index.ts
  frontend/src/app/ui/session/session-card/index.ts
  frontend/src/app/ui/session/session-card/session-card.component.spec.ts
  frontend/src/app/ui/session/session-card/session-card.component.ts
  frontend/tests/component/__snapshots__/dark/session-card.spec.ts-snapshots/session-card-basic-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/session-card.spec.ts-snapshots/session-card-long-description-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/session-card.spec.ts-snapshots/session-card-no-timestamp-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/session-card.spec.ts-snapshots/session-card-with-description-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/light/session-card.spec.ts-snapshots/session-card-basic-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/session-card.spec.ts-snapshots/session-card-long-description-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/session-card.spec.ts-snapshots/session-card-no-timestamp-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/session-card.spec.ts-snapshots/session-card-with-description-chromium-light-linux.png
  frontend/tests/component/session-card.spec.ts
  mddocs/frontend/sprints/sprint4.md
Due: eslint, prettier, angular-build

S4PR10: Refactor SessionListComponent to use new UI components
  frontend/src/app/features/session-list/session-list.component.html
  frontend/src/app/features/session-list/session-list.component.scss
  frontend/src/app/features/session-list/session-list.component.spec.ts
  frontend/src/app/features/session-list/session-list.component.ts
  frontend/tests/e2e/session-list.spec.ts
  frontend/tests/e2e/session-navigation.spec.ts
Due: eslint, prettier, angular-build

S4PR11: Migrate session-list styling to Tailwind
  frontend/src/app/features/session-list/session-list.component.html
  frontend/src/app/features/session-list/session-list.component.scss
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-populated-chromium-linux.png
Due: eslint, prettier, angular-build

S4PR12: Migrate shared UI component styling to Tailwind
  frontend/src/app/features/session-list/session-list.component.spec.ts
  frontend/src/app/ui/shared/connection-status/connection-status.component.spec.ts
  frontend/src/app/ui/shared/connection-status/connection-status.component.ts
  frontend/src/app/ui/shared/error-banner/error-banner.component.spec.ts
  frontend/src/app/ui/shared/error-banner/error-banner.component.ts
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-connected-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-connected-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-light-linux.png
  frontend/tests/component/connection-status.spec.ts
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-invalid-redirect-chromium-linux.png
Due: eslint, prettier, angular-build

S4PR13: Code simplifications for Sprint 4
  frontend/playwright/index.html
  frontend/playwright/index.ts
  frontend/src/app/features/session-list/session-list.component.ts
  frontend/src/app/ui/shared/error-banner/error-banner.component.ts
  frontend/src/styles.scss
Due: eslint, prettier, angular-build

S4PR1: Install and configure Tailwind CSS (#160)
  frontend/.postcssrc.json
  frontend/package.json
  frontend/src/styles.scss
  mddocs/development/implementation-tips.md
  package-lock.json
Due: prettier, angular-build

S4PR2: Create Theme Bridge with Dark Mode Support (#161)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  frontend/playwright-ct.config.ts
  frontend/playwright.config.ts
  frontend/src/styles.scss
  frontend/src/theme.scss
  frontend/tests/component/__snapshots__/connection-status.spec.ts-snapshots/connection-status-connected-chromium-linux.png
  frontend/tests/component/__snapshots__/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-linux.png
  frontend/tests/component/__snapshots__/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-long-text-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-model-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-populated-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-invalid-redirect-chromium-linux.png
  mddocs/frontend/research/deep-research/visual-regression-ci-investigation-report.md
  mddocs/frontend/research/deep-research/visual-regression-ci-investigation.md
Due: eslint, prettier, angular-build

S4PR3: Create ThemeService for Dark Mode State (#162)
  frontend/src/app/util/index.ts
  frontend/src/app/util/theme/index.ts
  frontend/src/app/util/theme/theme.service.spec.ts
  frontend/src/app/util/theme/theme.service.ts
Due: eslint, prettier, angular-build

S4PR4: Create DarkModeToggleComponent (#163)
  frontend/sheriff.config.ts
  frontend/src/app/app.html
  frontend/src/app/app.scss
  frontend/src/app/app.spec.ts
  frontend/src/app/app.ts
  frontend/src/app/ui/shared/dark-mode-toggle/dark-mode-toggle.component.spec.ts
  frontend/src/app/ui/shared/dark-mode-toggle/dark-mode-toggle.component.ts
  frontend/src/app/ui/shared/dark-mode-toggle/index.ts
  frontend/src/app/ui/shared/index.ts
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-populated-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-invalid-redirect-chromium-linux.png
Due: eslint, prettier, angular-build

S4PR5: Add Dark Mode Support to Component Testing (#164)
  frontend/playwright-ct.config.ts
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-connected-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-function-call-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-function-response-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-long-text-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-model-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-block.spec.ts-snapshots/event-block-user-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-conversation-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-empty-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-model-response-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/event-stream.spec.ts-snapshots/event-stream-user-message-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-function-call-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-function-response-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-user-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-conversation-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-empty-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-model-response-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-user-message-chromium-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-connected-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-connecting-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/connection-status.spec.ts-snapshots/connection-status-disconnected-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-function-call-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-function-response-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-long-text-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-model-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-block.spec.ts-snapshots/event-block-user-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-stream.spec.ts-snapshots/event-stream-conversation-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-stream.spec.ts-snapshots/event-stream-empty-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-stream.spec.ts-snapshots/event-stream-model-response-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/event-stream.spec.ts-snapshots/event-stream-user-message-chromium-light-linux.png
  frontend/tests/component/connection-status.spec.ts
  frontend/tests/component/event-block.spec.ts
  frontend/tests/component/event-stream.spec.ts
  frontend/tests/component/fixtures/theme.fixture.ts
  mddocs/frontend/sprints/sprint4.md
Due: eslint, prettier, angular-build

Path conditions:
  pyright: any of: ^(server/|plugins/python/|packages/)/.*\.py$ and \.py$ and not (^packages/adk-sim-protos/src/adk_sim_protos/(adksim|google)/)
  eslint: any of: ^frontend/.*\.(ts|html)$
  prettier: any of: \.(ts|tsx|js|jsx|json|html|css|scss)$, but not: ^(node_modules/|dist/|\.angular/|packages/adk-sim-protos-ts/src/(adksim|google)/)
  angular-build: any of: ^frontend/.*\.(ts|html|scss)$
