Repository kevinaud/adk-sim-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, eslint, prettier, angular-build

pyright:
  name: pyright (type check)
  entry: uv run pyright
  language: system
  pass_filenames: false

eslint:
  name: eslint (frontend)
  entry: npm run lint --workspace=frontend --
  language: system
  pass_filenames: false

prettier:
  name: prettier (typescript)
  entry: npx prettier --check
  language: system

angular-build:
  name: angular build (template verification)
  entry: bash -c 'cd frontend && CI=true npm run build -- --configuration production --no-progress'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

S7PR6: create comprehensive DataTreeComponent screenshot tests
  frontend/tests/component/data-tree.spec.ts
Due: eslint, prettier, angular-build

S7PR5: add expand all/collapse all buttons to DataTreeComponent
  frontend/src/app/ui/event-stream/data-tree/data-tree.component.spec.ts
  frontend/src/app/ui/event-stream/data-tree/data-tree.component.ts
Due: eslint, prettier, angular-build

S7PR7: integrate DataTreeComponent into SmartBlobComponent
  frontend/src/app/ui/event-stream/index.ts
  frontend/src/app/ui/shared/data-tree/data-tree.component.spec.ts
  frontend/src/app/ui/shared/data-tree/data-tree.component.ts
  frontend/src/app/ui/shared/data-tree/flatten-tree.util.spec.ts
  frontend/src/app/ui/shared/data-tree/flatten-tree.util.ts
  frontend/src/app/ui/shared/data-tree/index.ts
  frontend/src/app/ui/shared/data-tree/tree-node.types.ts
  frontend/src/app/ui/shared/index.ts
  frontend/src/app/ui/shared/smart-blob/smart-blob.component.spec.ts
  frontend/src/app/ui/shared/smart-blob/smart-blob.component.ts
  frontend/tests/component/smart-blob.spec.ts
Due: eslint, prettier, angular-build

S7PR8: integrate DataTreeComponent into EventBlockComponent
  frontend/sheriff.config.ts
  frontend/src/app/ui/event-stream/event-block/event-block.component.spec.ts
  frontend/src/app/ui/event-stream/event-block/event-block.component.ts
  frontend/tests/component/event-block.spec.ts
  mddocs/sprints/sprint7-review.md
Due: eslint, prettier, angular-build

refactor: remove thread lines from DataTreeComponent
  frontend/src/app/ui/event-stream/event-block/event-block.component.ts
  frontend/src/app/ui/shared/data-tree/data-tree.component.spec.ts
  frontend/src/app/ui/shared/data-tree/data-tree.component.ts
  frontend/tests/component/__snapshots__/dark/data-tree.spec.ts-snapshots/data-tree-no-thread-lines-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/dark/data-tree.spec.ts-snapshots/data-tree-thread-lines-chromium-dark-linux.png
  frontend/tests/component/__snapshots__/light/data-tree.spec.ts-snapshots/data-tree-no-thread-lines-chromium-light-linux.png
  frontend/tests/component/__snapshots__/light/data-tree.spec.ts-snapshots/data-tree-thread-lines-chromium-light-linux.png
  frontend/tests/component/data-tree.spec.ts
Due: eslint, prettier, angular-build

Update release command to use jujutsu
  mddocs/development/devplatform.md
  ops/src/ops/commands/release.py
  ops/src/ops/core/github.py
  ops/src/ops/core/jj.py
Due: none

Fix ops release
  ops/src/ops/commands/release.py
  ops/src/ops/core/jj.py
Due: none

Add tomlkit dependency to ops package
  ops/pyproject.toml
  uv.lock
Due: none

Fix REPO_ROOT discovery to use cwd instead of installed location
  ops/src/ops/core/paths.py
Due: none

Use bookmark_set instead of bookmark_create in release command
  ops/src/ops/commands/release.py
  ops/src/ops/core/jj.py
Due: none

Add bookmark_track and use it before pushing in release
  ops/src/ops/commands/release.py
  ops/src/ops/core/jj.py
Due: none

chore: release v0.1.22
  packages/adk-converters-ts/package.json
  packages/adk-sim-protos-ts/package.json
  packages/adk-sim-protos/pyproject.toml
  packages/adk-sim-testing/pyproject.toml
  plugins/python/pyproject.toml
  server/pyproject.toml
Due: prettier

Fix wait_for_checks to poll API instead of using interactive TUI
  ops/src/ops/core/github.py
Due: none

Fix release command for jj compatibility
  ops/src/ops/core/github.py
  ops/src/ops/core/jj.py
Due: none

Add buf to publish workflow
  .github/workflows/publish.yaml
Due: none

Fix npm OIDC trusted publishing (requires npm 11.5.1+)
  .github/workflows/publish.yaml
Due: none

Fix npm OIDC trusted publishing (requires npm 11.5.1+) (#232)
  .github/workflows/publish.yaml
Due: none

Path conditions:
  pyright: any of: ^(server/|plugins/python/|packages/)/.*\.py$ and \.py$ and not (^packages/adk-sim-protos/src/adk_sim_protos/(adksim|google)/)
  eslint: any of: ^frontend/.*\.(ts|html)$
  prettier: any of: \.(ts|tsx|js|jsx|json|html|css|scss)$, but not: ^(node_modules/|dist/|\.angular/|packages/adk-sim-protos-ts/src/(adksim|google)/)
  angular-build: any of: ^frontend/.*\.(ts|html|scss)$
