Repository kevinaud/adk-sim-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, eslint, prettier, angular-build

pyright:
  name: pyright (type check)
  entry: uv run pyright
  language: system
  pass_filenames: false

eslint:
  name: eslint (frontend)
  entry: npm run lint --workspace=frontend --
  language: system
  pass_filenames: false

prettier:
  name: prettier (typescript)
  entry: npx prettier --check
  language: system

angular-build:
  name: angular build (template verification)
  entry: bash -c 'cd frontend && CI=true npm run build -- --configuration production --no-progress'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

add e2e tests
  .devcontainer/init.sh
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/test-results/.last-run.json
Due: prettier

save
  .gitignore
Due: none

infra: implement phase 2 simplification
  .github/workflows/e2e.yaml
  .github/workflows/frontend-tests.yaml
  .github/workflows/publish.yaml
  Makefile
  docker-compose.e2e.yaml
  docker-compose.test.yaml
  frontend/tests/e2e/global-setup.ts
  frontend/tests/e2e/global-teardown.ts
  mddocs/development/infrastructure-simplification-phase2.md
  scripts/build.sh
  scripts/check_quality.sh
  scripts/gen_protos.sh
  scripts/presubmit.sh
Due: eslint, prettier, angular-build

docs: update instructions for pre-commit and build.sh changes
  .github/agents/copilot-instructions.md
  .github/agents/sprint-implement.agent.md
  CLAUDE.md
  README.md
  protos/CLAUDE.md
  scripts/update_vendored_protos.sh
Due: none

fix: exclude generated proto files from trailing-whitespace check
  .pre-commit-config.yaml
Due: none

fix: ensure CI matches pre-push and generated code is consistent
  .pre-commit-config.yaml
  Makefile
  scripts/build.sh
  scripts/check-generated.sh
  scripts/presubmit.sh
Due: none

S2PR7: Response construction helpers
  mddocs/frontend/sprints/sprint2.md
  packages/adk-converters-ts/src/index.ts
  packages/adk-converters-ts/src/response-helpers.spec.ts
  packages/adk-converters-ts/src/response-helpers.ts
Due: prettier

S2PR8: Round-trip and integration tests
  mddocs/frontend/sprints/sprint2.md
  packages/adk-converters-ts/src/fixtures/index.ts
  packages/adk-converters-ts/src/fixtures/requests.ts
  packages/adk-converters-ts/src/fixtures/responses.ts
  packages/adk-converters-ts/src/index.ts
  packages/adk-converters-ts/src/round-trip.spec.ts
Due: prettier

S2PR9: Frontend LlmRequestConverter service
  frontend/src/app/data-access/index.ts
  frontend/src/app/data-access/llm-request/index.ts
  frontend/src/app/data-access/llm-request/llm-request-converter.service.spec.ts
  frontend/src/app/data-access/llm-request/llm-request-converter.service.ts
  mddocs/frontend/frontend-tdd.md
  mddocs/frontend/sprints/sprint2.md
Due: eslint, prettier, angular-build

S2PR7: Response construction helpers (#139)
  mddocs/frontend/sprints/sprint2.md
  packages/adk-converters-ts/src/index.ts
  packages/adk-converters-ts/src/response-helpers.spec.ts
  packages/adk-converters-ts/src/response-helpers.ts
Due: prettier

S2PR8: Round-trip and integration tests (#140)
  mddocs/frontend/sprints/sprint2.md
  packages/adk-converters-ts/src/fixtures/index.ts
  packages/adk-converters-ts/src/fixtures/requests.ts
  packages/adk-converters-ts/src/fixtures/responses.ts
  packages/adk-converters-ts/src/index.ts
  packages/adk-converters-ts/src/round-trip.spec.ts
Due: prettier

S2PR9: Frontend LlmRequestConverter service (#141)
  frontend/src/app/data-access/index.ts
  frontend/src/app/data-access/llm-request/index.ts
  frontend/src/app/data-access/llm-request/llm-request-converter.service.spec.ts
  frontend/src/app/data-access/llm-request/llm-request-converter.service.ts
  mddocs/frontend/frontend-tdd.md
  mddocs/frontend/sprints/sprint2.md
Due: eslint, prettier, angular-build

S3PR1: Extend SessionGateway with getSession and subscribe methods
  frontend/src/app/data-access/session/grpc-session.gateway.spec.ts
  frontend/src/app/data-access/session/grpc-session.gateway.ts
  frontend/src/app/data-access/session/index.ts
  frontend/src/app/data-access/session/mock-session.gateway.ts
  frontend/src/app/data-access/session/session.gateway.ts
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

save
  .github/agents/devplatform-engineer.agent.md
  mddocs/development/devplatform.md
Due: none

tweak create-agent file
  .github/agents/create-agent.agent.md
  .github/agents/devplatform-engineer.agent.md
Due: none

documentation updates
  .github/agents/sprint-implement.agent.md
  mddocs/development/research/infrastructure-analysis.md
  mddocs/development/research/infrastructure-simplification-phase2.md
  mddocs/development/research/playwright-optimization.md
  mddocs/development/research/pre-commit-proposal.md
Due: none

feat: skip e2e tests when only docs/config files change
  .pre-commit-config.yaml
  mddocs/development/devplatform.md
  scripts/should-run-e2e.sh
Due: none

chore: remove unused buf.gen.python.yaml
  buf.gen.python.yaml
Due: none

Ops CLI TDD
  mddocs/.mddocsignore
  mddocs/development/ops-cli/ci-extension.md
  mddocs/development/ops-cli/tdd.md
  mddocs/development/research/cli-best-practices.md
  mddocs/development/typer/creating-an-app.md
  mddocs/development/typer/exceptions.md
  mddocs/development/typer/get-app-dir.md
  mddocs/development/typer/one-file-per-command.md
Due: none

save
  .devcontainer/post-start.sh
  .gitignore
Due: none

save
  .devcontainer/post-start.sh
  .github/agents/adk-unit-test.agent.md
  .github/agents/create-agent.agent.md
  .github/agents/devplatform-engineer.agent.md
  .github/agents/frontend-sprint-plan.agent.md
  .github/agents/sprint-implement.agent.md
  .github/agents/sprint-orchestrate.agent.md
  .github/sync-claude-agents.sh
Due: none

Dev platform agent (#143)
  .devcontainer/post-start.sh
  .github/agents/adk-unit-test.agent.md
  .github/agents/create-agent.agent.md
  .github/agents/devplatform-engineer.agent.md
  .github/agents/frontend-sprint-plan.agent.md
  .github/agents/sprint-implement.agent.md
  .github/agents/sprint-orchestrate.agent.md
  .github/sync-claude-agents.sh
  .gitignore
  .pre-commit-config.yaml
  buf.gen.python.yaml
  mddocs/.mddocsignore
  mddocs/development/devplatform.md
  mddocs/development/ops-cli/ci-extension.md
  mddocs/development/ops-cli/tdd.md
  mddocs/development/research/cli-best-practices.md
  mddocs/development/research/infrastructure-analysis.md
  mddocs/development/research/infrastructure-simplification-phase2.md
  mddocs/development/research/playwright-optimization.md
  mddocs/development/research/pre-commit-proposal.md
  mddocs/development/typer/creating-an-app.md
  mddocs/development/typer/exceptions.md
  mddocs/development/typer/get-app-dir.md
  mddocs/development/typer/one-file-per-command.md
  scripts/should-run-e2e.sh
Due: none

Update claude code installation method
  .devcontainer/Dockerfile
  .devcontainer/init.sh
Due: none

Ops CLI implementation
  ops/pyproject.toml
  ops/src/ops/__init__.py
  ops/src/ops/cli.py
  ops/src/ops/commands/__init__.py
  ops/src/ops/commands/build.py
  ops/src/ops/commands/ci.py
  ops/src/ops/commands/dev.py
  ops/src/ops/commands/docker.py
  ops/src/ops/commands/quality.py
  ops/src/ops/commands/release.py
  ops/src/ops/core/__init__.py
  ops/src/ops/core/console.py
  ops/src/ops/core/git.py
  ops/src/ops/core/github.py
  ops/src/ops/core/paths.py
  ops/src/ops/core/process.py
  ops/src/ops/py.typed
  pyproject.toml
  uv.lock
Due: none

Fix ops ci test command and publish workflow dry-run mode
  .github/workflows/publish.yaml
  .gitignore
  ops/src/ops/commands/build.py
  ops/src/ops/commands/ci.py
  packages/adk-sim-protos-ts/src/adksim/v1/simulator_service_pb.ts
  packages/adk-sim-protos-ts/src/adksim/v1/simulator_session_pb.ts
  packages/adk-sim-protos-ts/src/google/ai/generativelanguage/v1beta/citation_pb.ts
  packages/adk-sim-protos-ts/src/google/ai/generativelanguage/v1beta/content_pb.ts
  packages/adk-sim-protos-ts/src/google/ai/generativelanguage/v1beta/generative_service_pb.ts
  packages/adk-sim-protos-ts/src/google/ai/generativelanguage/v1beta/retriever_pb.ts
  packages/adk-sim-protos-ts/src/google/ai/generativelanguage/v1beta/safety_pb.ts
  packages/adk-sim-protos-ts/src/google/api/annotations_pb.ts
  packages/adk-sim-protos-ts/src/google/api/client_pb.ts
  packages/adk-sim-protos-ts/src/google/api/field_behavior_pb.ts
  packages/adk-sim-protos-ts/src/google/api/http_pb.ts
  packages/adk-sim-protos-ts/src/google/api/launch_stage_pb.ts
  packages/adk-sim-protos-ts/src/google/api/resource_pb.ts
  packages/adk-sim-protos-ts/src/google/type/interval_pb.ts
  packages/adk-sim-protos-ts/src/google/type/latlng_pb.ts
  packages/adk-sim-protos/src/adk_sim_protos/adksim/v1/__init__.py
  packages/adk-sim-protos/src/adk_sim_protos/google/ai/generativelanguage/v1beta/__init__.py
Due: none

Add Playwright and Docker build optimizations
  .devcontainer/devcontainer.json
  .github/workflows/ci.yaml
  docker/backend.Dockerfile
  mddocs/development/devplatform.md
Due: prettier

Fix prettier hook for CI compatibility
  .pre-commit-config.yaml
Due: none

Fix prettier hook to run from frontend directory
  .pre-commit-config.yaml
Due: none

Add Playwright and Docker build optimizations (#145)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  docker/backend.Dockerfile
  mddocs/development/devplatform.md
Due: prettier

S3PR2: Add session route with guard (FR-001, FR-004)
  .claude/skills/sprint-orchestration/SKILL.md
  .claude/skills/sprint-orchestration/references/git-town.md
  .claude/skills/sprint-orchestration/references/merge-process.md
  frontend/src/app/app.routes.ts
  frontend/src/app/data-access/session/session.facade.ts
  frontend/src/app/features/session/index.ts
  frontend/src/app/features/session/session.component.spec.ts
  frontend/src/app/features/session/session.component.ts
  frontend/src/app/features/session/session.guard.spec.ts
  frontend/src/app/features/session/session.guard.ts
Due: eslint, prettier, angular-build

S3PR3: Create ReconnectStrategy utility
  .claude/skills/sprint-orchestration/SKILL.md
  frontend/src/app/util/index.ts
  frontend/src/app/util/reconnect/index.ts
  frontend/src/app/util/reconnect/reconnect-strategy.spec.ts
  frontend/src/app/util/reconnect/reconnect-strategy.ts
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

S3PR4: Extend SessionFacade with subscribe and validation methods
  frontend/src/app/data-access/session/session.facade.spec.ts
  frontend/src/app/data-access/session/session.facade.ts
  mddocs/frontend/frontend-tdd.md
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

S3PR5: Create EventStreamComponent container
  frontend/src/app/ui/event-stream/event-stream.component.spec.ts
  frontend/src/app/ui/event-stream/event-stream.component.ts
  frontend/src/app/ui/event-stream/index.ts
  frontend/src/app/ui/index.ts
  mddocs/frontend/frontend-tdd.md
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

S3PR6: Create EventBlockComponent
  frontend/src/app/ui/event-stream/event-block/event-block.component.spec.ts
  frontend/src/app/ui/event-stream/event-block/event-block.component.ts
  frontend/src/app/ui/event-stream/event-block/index.ts
  frontend/src/app/ui/event-stream/event-stream.component.spec.ts
  frontend/src/app/ui/event-stream/event-stream.component.ts
  frontend/src/app/ui/event-stream/index.ts
  mddocs/frontend/frontend-tdd.md
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

S3PR7: Add E2E tests for session navigation and event rendering
  frontend/src/app/features/session-list/session-list.component.html
  frontend/src/app/features/session-list/session-list.component.scss
  frontend/src/app/features/session-list/session-list.component.spec.ts
  frontend/src/app/features/session-list/session-list.component.ts
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-error-dismissed-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-invalid-redirect-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-list-chromium-linux.png
  frontend/tests/e2e/session-navigation.spec.ts
  mddocs/frontend/sprints/sprint3.md
Due: eslint, prettier, angular-build

Fix multi-backend E2E infrastructure and page_size=0 bug
  .github/workflows/ci.yaml
  docker-compose.e2e.yaml
  docker-compose.test.yaml
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-function-call-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-function-response-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-long-text-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-model-chromium-linux.png
  frontend/tests/component/__snapshots__/event-block.spec.ts-snapshots/event-block-user-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-conversation-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-empty-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-model-response-chromium-linux.png
  frontend/tests/component/__snapshots__/event-stream.spec.ts-snapshots/event-stream-user-message-chromium-linux.png
  frontend/tests/component/event-block.spec.ts
  frontend/tests/component/event-stream.spec.ts
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-empty-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-populated-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-list.spec.ts-snapshots/session-list-view-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-list-empty-isolated-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-list-with-sessions-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-view-chromium-linux.png
  frontend/tests/e2e/__snapshots__/session-navigation.spec.ts-snapshots/session-view-from-api-chromium-linux.png
  frontend/tests/e2e/global-setup.ts
  frontend/tests/e2e/global-teardown.ts
  frontend/tests/e2e/session-list.spec.ts
  frontend/tests/e2e/session-navigation.spec.ts
  frontend/tests/e2e/utils/backend-config.ts
  frontend/tests/e2e/utils/db-reset.ts
  frontend/tests/e2e/utils/fixtures.ts
  frontend/tests/e2e/utils/grpc-client.ts
  frontend/tests/e2e/utils/index.ts
  frontend/tests/e2e/utils/multi-backend-fixtures.ts
  frontend/tests/e2e/utils/seed-populated-backend.ts
  frontend/tsconfig.e2e.json
  mddocs/development/devplatform.md
  package-lock.json
  packages/adk-sim-protos-ts/package.json
  server/src/adk_sim_server/persistence/session_repo.py
Due: eslint, prettier, angular-build

Skip visual regression tests in pre-commit hooks
  .pre-commit-config.yaml
Due: none

Path conditions:
  pyright: any of: ^(server/|plugins/python/|packages/)/.*\.py$ and \.py$ and not (^packages/adk-sim-protos/src/adk_sim_protos/(adksim|google)/)
  eslint: any of: ^frontend/.*\.(ts|html)$
  prettier: any of: \.(ts|tsx|js|jsx|json|html|css|scss)$, but not: ^(node_modules/|dist/|\.angular/|packages/adk-sim-protos-ts/src/(adksim|google)/)
  angular-build: any of: ^frontend/.*\.(ts|html|scss)$
